<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<head>

    <head>
        <object th:include = "fragments/fragment :: head"></object>
        <title>Home</title>
    </head>

</head>

<body>
<!-- Begin Page Content -->
    <div class="slider_area">
        <div class="single_slider slider_bg_1 d-flex align-items-center">
            <div class="container">
                    <div class="text-center">
                        <div class="error mx-auto" data-text="404">404</div>
                        <p class="lead text-gray-800 mb-5">Page Not Found</p>
                        <p class="home-title">Halaman yang kamu cari tidak ada</p>
                        <a class="btn btn-lg btn-outline-light" th:href="@{/}" style="font-weight: bold">Balik ke beranda</a>
                      </div>
            </div>
        </div>
    </div>

    <!-- 404 Error Text -->
    


</div>
<!-- slider_area_end -->

<!-- Footer -->
<footer th:replace="fragments/fragment :: footer">
</footer>
<!-- End of Footer -->

</body>
</html>