<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Daftar Gaji</title>
</head>
<body>
<div class="card-body">
    <div th:if="${isPengajar}" style="float:none; margin-bottom:20px">
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">No</th>
            <th scope="col">Periode</th>
            <th scope="col">Total Gaji</th>
            <th scope="col"></th>
            <th scope="col">Status</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="gaji, iterationStatus: ${daftarGaji}">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${#temporals.format(gaji.periode, 'LLLL yyyy')}"></td>
            <td th:text="${gaji.totalGaji}"></td>
            <td><a th:href="@{/gaji/detail/}+${gaji.idGaji}"><button class="btn btn-primary">Detail</button></a></td>
            <td th:text="${gaji.status}"></td>
        </tr>
        </tbody>
    </table>
    </div>

        <div th:if="${isDirektur}" style="float:none; margin-bottom:20px">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nama Pengajar</th>
                    <th scope="col">Nominal</th>
                    <th scope="col"></th>
                    <th scope="col">Aksi</th>


                </tr>
                </thead>
                <tbody>
                <tr th:each="gaji, iterationStatus: ${allGaji}">
                    <td th:text="${iterationStatus.count}"></td>
                    <td th:text="${gaji.pegawai.nama}"></td>
                    <td th:text="${gaji.totalGaji}"></td>
                    <td>
                        <a th:href="@{/gaji/detail/}+${gaji.idGaji}"><button class="btn btn-primary">Detail</button></a>
                    </td>
                        <div th:if="${gaji.status == 'pending'}">
                            <form th:action="@{/gaji/setujui/{idGaji}(idGaji=${gaji.idGaji})}" th:object="${gaji}" method="POST">
                                <td>
                                    <button type="submit" class="btn btn-primary">Setujui</button>
                                </td>
                            </form>
                            <form th:action="@{/gaji/tolak/{idGaji}(idGaji=${gaji.idGaji})}" th:object="${gaji}" method="POST">
                                <td>
                                    <button type="submit" class="btn btn-primary">Tolak</button>
                                </td>
                            </form>
                        </div>

                    <div th:if="${gaji.status == 'disetujui'}">
                        <form th:action="@{/gaji/paid/{idGaji}(idGaji=${gaji.idGaji})}" th:object="${gaji}" method="POST">
                            <td>
                                <button type="submit" class="btn btn-primary">Bayar</button>
                            </td>
                        </form>
                    </div>
                    <div th:if="${gaji.status == 'sudah dibayar'}">
                        <td th:text="${gaji.status}"></td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
</div>
</body>
</html>