<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <object th:include="fragments/fragment :: head"></object>
    <title>Daftar Golongan</title>
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.css}" />
    <script th:src="@{/js/sb-admin-2.min.js}"></script>
  </head>

  <body id="page-top">
    <div id="wrapper">
      <ul th:replace="fragments/fragment :: sidebar"></ul>

      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <nav th:replace="fragments/fragment :: topbar"></nav>
          <div class="container-fluid">
            <!-- Alert -->
            <div
              class="alert alert-success"
              role="alert"
              th:if="${alert}"
              th:text="${alert}"
            ></div>
            <div
              class="alert alert-success"
              role="alert"
              th:if="${alertUbah}"
              th:text="${alertUbah}"
            ></div>

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Daftar Golongan Pegawai</h1>

            <!-- DataTables -->
            <div class="card shadow mb-4 border-bottom-danger">
              <div class="card-body">
                <div class="row">
                  <div class="col-auto ml-auto">
                    <a class="btn btn-primary" href="/golongan/tambah"
                      >+ Tambah Golongan</a
                    >
                  </div>
                </div>
                <div class="table-responsive">
                  <table
                    class="table"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead
                      style="
                        background-color: #ff5252 !important;
                        color: white;
                      "
                    >
                      <tr>
                        <th class="text-center">No</th>
                        <th class="text-center">Golongan</th>
                        <th class="text-center">Rate Gaji</th>
                        <th class="text-center">Pajak</th>
                        <th class="text-center">Aksi</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="golongan, iterationStatus : *{allGolongan}">
                        <td
                          class="text-center"
                          th:text="${iterationStatus.count}"
                        ></td>
                        <td class="text-center" th:text="${golongan.nama}"></td>
                        <td
                          class="text-center"
                          th:text="'Rp' + ${golongan.rate} + ',00'"
                        ></td>
                        <td
                          class="text-center"
                          th:text="${golongan.pajak} + '%'"
                        ></td>
                        <td class="text-center">
                          <div
                            class="contaier"
                            style="width: 50%; margin: auto;"
                          >
                            <div class="row">
                              <div class="col-6">
                                <a
                                  class="btn btn-ubah"
                                  th:href="'/golongan/ubah/' + ${golongan.idGolongan}"
                                  >Ubah</a
                                >
                              </div>
                              <div class="col-6>">
                                <form
                                  th:action="@{/golongan/hapus/}+${golongan.idGolongan}"
                                  th:object="${golongan}"
                                  method="POST"
                                >
                                  <button
                                    class="btn btn-hapus"
                                    style="display: none;"
                                  >
                                    Hapus
                                  </button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <!-- Footer -->
          <footer th:replace="fragments/fragment :: footer"></footer>
          <!-- End of Footer -->
        </div>
      </div>

      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>

      <!-- Logout Modal-->
      <div th:replace="fragments/fragment :: logout"></div>
    </div>
  </body>
</html>
