<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <h2>Detail Cabang</h2>
    <h3 th:text="'Nama Cabang: ' + ${cabang.nama}"></h3>
    <h3 th:text="'No. Telp: ' + ${cabang.noTelp}"></h3>
    <h3 th:text="'Email: ' + ${cabang.email}"></h3>
    <h3 th:text="'Alamat: ' + ${cabang.alamat}"></h3>
    <h3 th:text="'Jumlah Siswa: ' + ${cabang.jumlahSiswa}"></h3>

    <br>
<!--    <form th:action="@{/restoran/change/}+${resto.idRestoran}">-->
<!--        <button class="btn btn-sm btn-primary">-->
<!--            Change Data Restoran-->
<!--        </button>-->
<!--    </form>-->
</div>
</body>
</html>