<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<head>
    <object th:include = "fragments/fragment :: head"></object>
    <title>Detail Gaji</title>
</head>

<body id="page-top">

<!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul th:replace="fragments/fragment :: sidebar"> </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="fragments/fragment :: topbar"></nav>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 th:if="${isPengajar}" class="h3 mb-2 text-gray-800" th:text="'GAJI - ' + ${periode}"></h1>
                    <h1 th:if="${isDirektur}" class="h3 mb-2 text-gray-800"> Detail Pengajar</h1>


                    <!-- Card -->
                    <div class="card shadow mb-4 border-bottom-danger">
                        <div class="card-body">

                            <div class="row detail-gaji">
                                <div class="col col-lg-2">
                                    <p class="details-title">Nama Pengajar</p>
                                </div>
                                <div class="col">
                                    <p th:text="': ' + ${gaji.pegawai.nama}"></p>
                                </div>
                            </div>

                            <div class="row detail-gaji">
                                <div class="col col-lg-2">
                                    <p class="details-title">Mata Pelajaran</p>
                                </div>
                                <div class="col">
                                    <p th:text="': ' + ${gaji.pegawai.mataPelajaran}"></p>
                                </div>
                            </div>

                            <div class="row detail-gaji">
                                <div class="col col-lg-2">
                                    <p class="details-title">Golongan</p>
                                </div>
                                <div class="col">
                                    <p th:text="': ' + ${gaji.pegawai.golongan.nama}"></p>
                                </div>
                            </div>

                            <div class="row detail-gaji detail-gaji">
                                <div class="col col-lg-2">
                                    <p class="details-title">Pajak Gaji</p>
                                </div>
                                <div class="col">
                                    <p th:text="': ' + ${gaji.pajakGaji} + '%'"></p>
                                </div>
                            </div>

                            <div class="row detail-gaji">
                                <div class="col col-lg-2">
                                    <p class="details-title">Total Sesi</p>
                                </div>
                                <div class="col">
                                    <p th:text="': ' + ${gaji.totalSesi}"></p>
                                </div>
                            </div>

                            <br>
                            <br>
                            <h1 class="h3 mb-2 text-gray-800 details-title">Riwayat Presensi</h1>
                            <br>

                            <!-- Pengajar -->
                            <div th:if="${isPengajar}" class="table-responsive">
                                <table class="table " id="dataTable" width="100%" cellspacing="0">
                                    <thead style="background-color: #FF5252 !important; color: white">
                                    <tr>
                                        <th class="text-center" scope="col">No</th>
                                        <th class="text-center" scope="col">Tanggal</th>
                                        <th class="text-center" scope="col">Sesi Mengajar</th>
                                        <th class="text-center" scope="col">Sesi Tambahan</th>
                                        <th class="text-center" scope="col">Nominal</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="presensi, iterationStatus: ${presensiByKodeGaji}">
                                        <td class="text-center" th:text="${iterationStatus.count}"></td>
                                        <td class="text-center" th:text="${#temporals.format(presensi.tanggalPresensi, 'dd LLLL yyyy')}"></td>
                                        <td class="text-center" th:text="${presensi.sesiMengajar}"></td>
                                        <td class="text-center" th:text="${presensi.sesiTambahan}"></td>
                                        <td class="text-center"th:text="'Rp ' + ${presensi.nominal}" style="color: #1cc88a"></td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-center" th:text="'Rp ' + ${gaji.totalGaji}" style="color: #1cc88a"></td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>

                            <!-- Direktur -->
                            <div th:if="${isDirektur}" class="table-responsive">
                                <table class="table " id="dataTable2" width="100%" cellspacing="0">
                                    <thead style="background-color: #FF5252 !important; color: white">
                                    <tr>
                                        <th class="text-center" scope="col">No</th>
                                        <th class="text-center" scope="col">Tanggal</th>
                                        <th class="text-center" scope="col">Total Sesi</th>
                                        <th class="text-center" scope="col">Uang Konsum</th>
                                        <th class="text-center" scope="col">Nominal</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="presensi, iterationStatus: ${presensiByKodeGaji}">
                                        <td class="text-center" th:text="${iterationStatus.count}"></td>
                                        <td class="text-center" th:text="${#temporals.format(presensi.tanggalPresensi, 'dd LLLL yyyy')}"></td>
                                        <div th:if="${presensi.sesiTambahan == null}">
                                            <td class="text-center" th:text="${presensi.sesiMengajar} + 0"></td>
                                        </div>
                                        <div th:unless="${presensi.sesiTambahan == null}">
                                            <td class="text-center" th:text="${presensi.sesiMengajar} + ${presensi.sesiTambahan} "></td>
                                        </div>

                                        <td class="text-center" th:text="'Rp ' + ${presensi.uangKonsum}"></td>
                                        <td class="text-center" th:text="'Rp ' + ${presensi.nominal}" style="color: #1cc88a"></td>
                                    </tr>

                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-center" th:text="'Rp ' + ${gaji.totalGaji}" style="color: #1cc88a"></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>



                        </div>

                    </div>

                </div>




            </div>
        </div>


    </div>
<!-- End of Page Wrapper -->


<!--    <h3 th:text="'Jumlah Siswa: ' + ${cabang.jumlahSiswa}"></h3>-->
<!--    &lt;!&ndash;    <h3 th:text="'Staf Cabang: ' + ${stafCabang}"></h3>&ndash;&gt;-->
<!--    <h3 th:text="'Staf Cabang: '"></h3>-->
<!--    <h3 th:if="${cabang.stafCabang == null}">-</h3>-->
<!--    <h3 th:unless="${cabang.stafCabang == null}" th:text="${cabang.getStafCabang().getNama()}"></h3>-->

</body>

</html>