<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
  <head>
    <object th:include="fragments/fragment :: head"></object>
    <title>Detail Soal</title>
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.css}" />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul th:replace="fragments/fragment :: sidebar"></ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav th:replace="fragments/fragment :: topbar"></nav>

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Alert -->
            <div
              class="alert alert-success"
              role="alert"
              th:if="${alert}"
              th:text="${alert}"
            ></div>
            <div
              class="alert alert-success"
              role="alert"
              th:if="${alertUbah}"
              th:text="${alertUbah}"
            ></div>
            <div
              class="alert alert-success"
              role="alert"
              th:if="${alertHapus}"
              th:text="${alertHapus}"
            ></div>

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Kelola Soal</h1>

            <!-- Card -->
            <div class="card shadow mb-4 border-bottom-danger">
              <div class="card-body">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-header">
                        <p class="form-header-text">PERTANYAAN</p>
                        <div
                          class="container-fluid"
                          style="background-color: #ebebeb;"
                        >
                          <div class="row"></div>
                          <p th:utext="${soal.pertanyaan}"></p>
                          <div class="row">
                            <div class="col-md-6">
                              <div style="text-align: center;">
                                <form th:action="@{/soal/ubah/}+${soal.idSoal}">
                                  <button class="btn btn-ubah">Ubah</button>
                                </form>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div style="text-align: center;">
                                <button
                                  type="button"
                                  class="btn btn-hapus"
                                  data-toggle="modal"
                                  data-target="#exampleModalCenter"
                                >
                                  Hapus Soal
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="row"></div>
                        </div>
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="form-header">
                        <p class="form-header-text">KUNCI JAWABAN</p>
                        <div
                          class="container-fluid"
                          style="background-color: #ebebeb;"
                        >
                          <div class="row"></div>
                          <p th:utext="${correctAnswer.jawaban}"></p>
                          <div class="row">
                            <div class="col-12">
                              <div style="text-align: center;">
                                <form
                                  th:action="@{/jawaban/ubah/} + ${correctAnswer.idJawaban}"
                                >
                                  <button class="btn btn-ubah">Ubah</button>
                                </form>
                              </div>
                            </div>
                          </div>
                          <div class="row"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <br />
                <br />

                <div class="row">
                  <div class="col-auto ml-auto">
                    <a
                      class="btn btn-primary"
                      th:href="@{/jawaban/tambah/}+${soal.idSoal}"
                      >+ Tambah Jawaban</a
                    >
                  </div>
                </div>

                <div class="table-responsive">
                  <table
                    class="table"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead
                      style="
                        background-color: #ff5252 !important;
                        color: white;
                      "
                    >
                      <tr>
                        <th class="text-center" scope="col">No</th>
                        <th class="text-center" scope="col">
                          Opsi Jawaban Salah
                        </th>
                        <th class="text-center" scope="col">Aksi</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="j, iterationStatus: ${jawaban}">
                        <td
                          class="text-center"
                          th:text="${iterationStatus.count}"
                        ></td>
                        <td
                          class="text-center"
                          th:utext="${#strings.abbreviate(j.jawaban,70)}"
                        ></td>
                        <td class="text-center">
                          <div
                            class="contaier"
                            style="width: 50%; margin: auto;"
                          >
                            <div class="row">
                              <div class="col-6">
                                <form
                                  th:action="@{/jawaban/ubah/}+${j.idJawaban}"
                                >
                                  <button class="btn btn-ubah">Ubah</button>
                                </form>
                              </div>
                              <div class="col-6">
                                <button
                                  type="button"
                                  class="btn btn-hapus"
                                  data-toggle="modal"
                                  th:attr="data-target='#exampleModalCenter' + ${j.idJawaban}"
                                >
                                  Hapus
                                </button>

                                <!-- Modal Konfirmasi Hapus jawaban -->

                                <div
                                  class="modal fade"
                                  th:id="'exampleModalCenter' + ${j.idJawaban}"
                                  tabindex="-1"
                                  role="dialog"
                                  aria-labelledby="exampleModalCenterTitle"
                                  aria-hidden="true"
                                >
                                  <div
                                    class="modal-dialog modal-dialog-centered"
                                    role="document"
                                  >
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5
                                          class="modal-title details-title"
                                          id="exampleModalLongTitle"
                                        >
                                          KONFIRMASI PENGHAPUSAN JAWABAN
                                        </h5>
                                        <button
                                          type="button"
                                          class="close"
                                          data-dismiss="modal"
                                          aria-label="Close"
                                        >
                                          <span aria-hidden="true"
                                            >&times;</span
                                          >
                                        </button>
                                      </div>
                                      <div
                                        class="modal-body"
                                        th:text="'Apakah Anda ingin menghapus jawaban?'"
                                      ></div>
                                      <div class="modal-footer">
                                        <button
                                          type="button"
                                          class="btn btn-secondary"
                                          data-dismiss="modal"
                                        >
                                          Tidak
                                        </button>

                                        <form
                                          th:action="@{/jawaban/hapus/}+${j.idJawaban}"
                                          th:object="${j}"
                                          method="POST"
                                        >
                                          <!--                                                                        <input hidden th:field="*{idJawaban}">-->

                                          <button
                                            type="submit"
                                            class="btn btn-danger"
                                          >
                                            Ya
                                          </button>
                                        </form>

                                        <!--                    <input hidden th:field="*{jawaban}">-->
                                        <!--                    <input hidden th:field="*{isActive}">-->
                                        <!--                    <input hidden th:field="*{isCorrect}">-->
                                        <!--                    <input hidden th:field="*{soal}">-->
                                        <!--                        <input hidden th:field="${j.idJawaban}">-->
                                        <!--                        <button type="submit" class="btn btn-danger">Ya</button>-->
                                        <!--                    </form>-->
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <!--                        <div class="row">-->
                <!--                            <div class="col-auto ml-auto">-->
                <!--                                <a class="btn btn-primary" th:href="@{/soal/tambah/}+${paketSoal.idPaket}">+ Tambah Soal</a>-->
                <!--                            </div>-->
                <!--                        </div>-->

                <!--                        <div class="table-responsive">-->
                <!--                            <table class="table " id="dataTable" width="100%" cellspacing="0">-->
                <!--                                <thead style="background-color: #FF5252 !important; color: white">-->
                <!--                                <tr>-->
                <!--                                    <th class="text-center" scope="col">No</th>-->
                <!--                                    <th class="text-center" scope="col">Pertanyaan</th>-->
                <!--                                    <th class="text-center" scope="col">Aksi</th>-->

                <!--                                </tr>-->
                <!--                                </thead>-->
                <!--                                <tbody>-->
                <!--                                <tr th:each="s, iterationStatus: ${soal}">-->
                <!--                                    <td class="text-center" th:text="${iterationStatus.count}"></td>-->
                <!--                                    <td class="text-center" th:utext="${#strings.abbreviate(s.pertanyaan,70)}"></td>-->
                <!--                                    <td><a th:href="@{/soal/detail/}+${s.idSoal}">Detail</a></td>-->
                <!--                                </tr>-->
                <!--                                </tbody>-->
                <!--                            </table>-->
                <!--                        </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Page Wrapper -->
    <!-- Modal Konfirmasi Soal -->
    <div
      class="modal fade"
      id="exampleModalCenter"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5
              class="modal-title details-title"
              id="exampleModalLongTitleSoal"
            >
              KONFIRMASI PENGHAPUSAN SOAL
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div
            class="modal-body"
            th:text="'Apakah Anda ingin menghapus soal?'"
          ></div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Tidak
            </button>
            <form th:action="@{/soal/hapus/}" th:object="${soal}" method="POST">
              <input hidden th:field="*{idSoal}" />
              <button type="submit" class="btn btn-danger">Ya</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Logout Modal-->
    <div th:replace="fragments/fragment :: logout"></div>
  </body>
</html>
