<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <h2>Detail Cabang</h2>
    <h3 th:text="'Nama Cabang: ' + ${cabang.cabang}"></h3>
    <h3 th:text="'No. Telp: ' + ${cabang.noTelp}"></h3>
    <h3 th:text="'Email: ' + ${cabang.email}"></h3>
    <h3 th:text="'Alamat: ' + ${cabang.alamat}"></h3>
    <h3 th:text="'Jumlah Siswa: ' + ${cabang.jumlahSiswa}"></h3>
<!--    <h3 th:text="'Staf Cabang: ' + ${stafCabang}"></h3>-->
    <h3 th:text="'Staf Cabang: '"></h3>
    <h3 th:if="${cabang.stafCabang == null}">-</h3>
    <h3 th:unless="${cabang.stafCabang == null}" th:text="${cabang.getStafCabang().getNama()}"></h3>
    <br>

    <form th:action="@{/cabang/ubah/}+${cabang.idCabang}">
        <button class="btn btn-sm btn-primary">
            Ubah
        </button>
    </form>

    <form th:action="@{/cabang/hapus/}+${cabang.idCabang}" th:object="${cabang}" method="POST">
<!--        <input type="hidden" th:value="${cabang.idcabang}"/>-->
        <button class="btn btn-sm btn-primary">
            Hapus
        </button>
    </form>

</div>
</body>
</html>