<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3> Pengajuan Pengadaan Fasilitas </h3><br>
<div>
    <form th:action="@{/cabang/tambah}" method="POST">
<!--        <input type="hidden" th:field="${user.idUser}"/>-->
        Nama Cabang: <br>
        <input type="text" name="cabang" required = "true" placeholder="Nama Cabang"/>
        <br>
        Nomor Telepon: <br>
        <input type="text" name="noTelp" required = "true" placeholder="No. Telp" pattern="[0-9]{1,}" title="Masukkan Angka"/>
        <br>
        Alamat: <br>
        <input type="text" name="alamat" required = "true" placeholder="Alamat"/>
        <br>
        Email: <br>
        <input type="text" name="email" required = "true" placeholder="Email"/>
        <br>
        Jumlah Siswa: <br>
        <input type="text" name="jumlahSiswa" required = "true" placeholder="Jumlah Siswa" pattern="[0-9]{1,}" title="Masukkan Angka"/>
        <br>
        <button type="submit" class="buttonLogin">Submit</button>
    </form>
</div>
</body>
</html>