<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<head>

  <head>
    <object th:include = "fragments/fragment :: head"></object>
    <title>Registrasi Pengajar</title>
  </head>

</head>

<body class="bg-gradient-danger">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block registrasi-img"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4 registrasi-title">Daftar Menjadi Pengajar BTA !</h1>
                  </div>

                  <!-- Alert -->
                  <div th:if="${usernameTidakValid}" th:text="${usernameTidakValid}" class="alert alert-danger" role="alert">
                  </div>
                  <div th:if="${tglLahirTidakValid}" th:text="${tglLahirTidakValid}" class="alert alert-danger" role="alert">
                  </div>

                  <!-- Form -->
                  <form class="user" th:action="@{/registrasi}" th:object="${newCalonPengajar}" method="POST">
                    <div class="form-group">
                      <p class = "form-title"> Nama Lengkap </p>
                      <input class="form-control form-control-user" type="text" name="nama"  title="Masukkan nama lengkap" placeholder="Masukkan nama..." required>
                    </div>

                    <div class="form-group">
                      <p class = "form-title"> Email </p>
                      <input class="form-control form-control-user" type="email" name="email" title="Masukkan email" placeholder="Masukkan email..." required>
                    </div>

                    <div class="form-group">
                      <p class = "form-title"> Alamat </p>
                      <input class="form-control form-control-user" type="text" name="alamat"  title="Masukkan alamat" placeholder="Masukkan alamat..." required>
                    </div>

                    <div class="form-group">
                      <p class = "form-title"> Nomor Telepon </p>
                      <input type="text" required pattern="[0-9]{7,12}" name="noTelp" title="Masukkan nomor telepon" class="form-control form-control-user" placeholder="Masukkan Nomor Telepon...">
                    </div>

                    <div class="form-group">
                      <p class = "form-title"> Tanggal Lahir </p>
                      <input class="form-control form-control-user" type="date" name="tglLahir" title="Masukkan tanggal lahir" required>
                    </div>

                    <div class="form-group">
                      <p class = "form-title"> Mata Pelajaran </p>
                      <select class="form-control form-dropdown" name="mataPelajaran" required>
                        <option selected value="">-- Pilih Mata Pelajaran --</option>
                        <option value="TPA">TPA</option>
                        <option value="Bahasa Indonesia">Bahasa Indonesia</option>
                        <option value="Bahasa Inggris">Bahasa Inggris</option>
                        <option value="Matematika">Matematika</option>
                        <option value="Biologi">Biologi</option>
                        <option value="Fisika">Fisika</option>
                        <option value="Kimia">Kimia</option>
                        <option value="Ekonomi">Ekonomi</option>
                        <option value="Geografi">Geografi</option>
                        <option value="Sejarah">Sejarah</option>
                        <option value="Sosiologi">Sosiologi</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <p class = "form-title"> Link CV (Google Drive, etc.) </p>
                      <input class="form-control form-control-user" type="text" name="cv"  title="Masukkan Link CV" placeholder="Masukkan link CV..." required>
                    </div>

                    <div class="form-group">
                      <p class = "form-title"> Username </p>
                      <input class="form-control form-control-user" type="text" name="username"  title="Masukkan username" placeholder="Masukkan username..." required>
                    </div>

                    <div class="form-group">
                      <p class = "form-title">Password</p>
                      <input class="form-control form-control-user" type="password" name="password" placeholder="Masukkan Password..." required>
                    </div>

                    <div class="form-group">
                      <p class = "form-title">Konfirmasi Password</p>
                      <input type="password" class="form-control form-control-user" title="Konfirmasi password" placeholder="Konfirmasi Password..." required>
                    </div>

                    <div class="form-group">
                      <input id="tesDeadline" type="hidden" class="form-control form-control-user" name="tesDeadline">
                    </div>

                    <button type="submit" class="btn form-button">Submit</button>

                  </form>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Footer -->
  <footer th:replace="fragments/fragment :: footer">
  </footer>
  <!-- End of Footer -->


</body>

</html>
