<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymelaf.org" >

<head>
    <object th:include = "fragments/fragment :: head"></object>
    <title>Ubah Golongan</title>
</head>


<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="fragments/fragment :: sidebar">

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="fragments/fragment :: topbar"></nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Card Parent -->
                <div class="container" style="width: 60%">
                    <!-- Card -->
                    <div class="card shadow mb-4 border-bottom-danger">
                        <div class="card-body">
                            <div class="form-header">
                                <p class="form-header-text ">UBAH GOLONGAN</p>
                            </div>
                            <form class="user" th:action="@{/golongan/ubah/{idGolongan}(idGolongan=${golongan.idGolongan})}" th:object="${golongan}" method="POST">
                                <div class="form-group">
                                    <p class = "form-title">Golongan</p>
                                    <input type="text" class="form-control form-control-user-ubah" style="background: none;" name="nama" readonly th:value="${golongan.nama}">
                                </div>
                                <div class="form-group">
                                    <p class = "form-title">Rate Gaji</p>
                                    <input type="number" class="form-control form-control-user-ubah" name="rate" placeholder="Masukkan rate gaji..." th:value="${golongan.rate}">
                                </div>
                                <div class="form-group">
                                    <p class = "form-title">Pajak</p>
                                    <input type="number" step="0.01" class="form-control form-control-user-ubah" name="pajak" placeholder="Masukkan persentase pajak..." th:value="${golongan.pajak}">
                                </div>
                                <button type="submit" class="btn form-button">Simpan</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="fragments/fragment :: footer">
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:replace="fragments/fragment :: logout">
</div>

</body>

</html>

<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->

<!--<body>-->
<!--<h2>Ubah Golongan</h2>-->

<!--<div>-->
<!--    <form th:action="@{/golongan/ubah/{idGolongan}(idGolongan=${golongan.idGolongan})}" th:object="${golongan}" method="POST">-->
<!--        <input type="hidden" th:field="${golongan.idGolongan}" />-->
<!--        Nama: <br>-->
<!--        <input type="text" name="nama" class="form-control" readonly th:value="${golongan.nama}" />-->
<!--        <br>-->
<!--        Rate: <br>-->
<!--        <input type="number" name="rate" th:value="${golongan.rate}" class="form-control"/>-->
<!--        <br>-->
<!--        Pajak: <br>-->
<!--        <input type="number" step="0.01" name="pajak" th:value="${golongan.pajak}" class="form-control"/>-->
<!--        <br>-->

<!--        <br><br>-->
<!--            <button type="submit" class="btn btn-primary">Simpan</button>-->
<!--    </form>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->