<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<h2>Setujui Presensi</h2>

<div>
    <form th:action="@{/presensi/setujui/{idPresensi}(idPresensi=${presensi.idPresensi})}" th:object="${presensi}" method="POST">
        <input type="hidden" th:field="${presensi.idPresensi}" />
        <input type="hidden" th:field="${presensi.cabang}" />
        <input type="hidden" th:field="${presensi.status}" th:value="disetujui" />
        <input type="hidden" th:field="${presensi.kodeGaji}" th:value="0000" />

        Nama Pengajar: <br>
        <input type="text" name="pegawai" class="form-control" readonly th:value="${presensi.pegawai.idUser}" th:text="${presensi.pegawai.nama}" />
        <br>
        Tanggal: <br>
        <input type="date" name="tanggalPresensi" readonly th:value="${presensi.tanggalPresensi}" class="form-control"/>
        <br>
        Jumlah Sesi: <br>
        <input type="number"  name="sesiMengajar" readonly th:value="${presensi.sesiMengajar}" class="form-control"/>
        Jumlah Tambahan: <br>
        <input type="number" name="sesiTambahan" readonly th:value="${presensi.sesiTambahan}" class="form-control"/>
        Uang Makan: <br>
        <input type="number" name="uangKonsum">
        <br>

        <br><br>
        <button type="submit" class="btn btn-primary">Simpan</button>
    </form>
</div>

</body>
</html>