<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymelaf.org" >

<head>
    <meta charset="UTF-8">
    <object th:include = "fragments/fragment :: head"></object>
    <title>Tambah Presensi</title>
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.css}">
    <script th:src="@{/js/sb-admin-2.min.js}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="fragments/fragment :: sidebar">

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="fragments/fragment :: topbar"></nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Card -->
                <div class="card shadow mb-4 border-bottom-danger">
                    <div class="card-body">
                        <div class="form-header">
                            <p class="form-header-text ">TAMBAH PRESENSI</p>
                        </div>
                        <form class="user" th:action="@{/presensi/tambah}" th:object="${presensi}" method="POST">
                            <div class="alert alert-success" th:if="${addedPresensi != null}"
                                 th:text="Berhasil" role="alert"></div>
                            <div class="form-group">
                                <p class = "form-title">Tanggal</p>
                                <br>
                                <p class="mb-4" th:text="${localDate}" style="margin-left: 1rem !important"></a>.</p>
                            </div>
                            <div class="form-group">
                            <p class = "form-title">Cabang</p><br>
                            <select selected=# name="cabang" class="input-field col col-lg-3"
                                    id="dropdown-form" onchange="dropdownChange()">
                                <option value="" selected disabled hidden th:text="${'Masukkan Nama Cabang'}"></option>
                                <option th:each="cabang : ${cabangList}"
                                        th:value="${cabang.idCabang}"
                                        th:text="${cabang.cabang}">
                                </option>
                            </select>
                            </div>
                            <div class="form-group">
                                <p class = "form-title">Jumlah Sesi Mengajar</p>
                                <input type="text" name="sesiMengajar" required = "true" pattern="[1-9]{1,}" title="Masukkan Angka" class="form-control form-control-user" placeholder="Masukkan Jumlah Sesi Mengajar..." style="background: none">
                            </div>

                            <div class="form-group">
                                <p class = "form-title">Jumlah Sesi Tambahan</p>
                                <input type="text" name="sesiTambahan" pattern="[0-9]{0,}" title="Masukkan Angka" class="form-control form-control-user" placeholder="Masukkan Jumlah Sesi Tambahan..." style="background: none">
                            </div>
                            <button class="btn btn-primary">Simpan</button>
                        </form>
                    </div>

                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="fragments/fragment :: footer">
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:replace="fragments/fragment :: logout">
</div>

</body>

</html>