<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div class="container-fluid">
    <h2 th:text="'Hello ' + ${#httpServletRequest.remoteUser} + ' !'">Login as</h2>
    <h2>Selamat datang di GOPUD!</h2>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Tambah User Baru</div>
                <div class="card-body">
                    <form th:action="@{/pegawai/tambah}" method="POST">
<!--                        <p th:text="${error} == 'success' ? 'Pembuatan akun berhasil!' : ${error}"></p>-->
                        <label>NIP</label>
                        <input type="text" name="nip" class="form-control"/>

                        <label>Password</label>
                        <input type="password" name="password" class="form-control">

                        <label>Role</label>
                        <select name="role" class="form-control">
                            <option selected value="">-- Pilih Role --</option>
                            <option th:each="roleAvailable : ${listRole}" th:value="${roleAvailable.idRole}" th:text="${roleAvailable.nama}"></option>
                        </select>

                        <br>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>